<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.oneecom">

    <application
        android:name=".OneEcomApp"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon"
        tools:replace="android:name" />

</manifest>